/* Login/Registration Page */

.main-form {
	margin: 10px;
}

.translucent-form-overlay {
  max-width: 300px;
  width: 100%; 
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: #fefefe;
}

.translucent-form-overlay .columns.row {
  display: block;
}

.translucent-form-overlay h3, .translucent-form-overlay label {
  color: #fefefe;
}

.translucent-form-overlay input, .translucent-form-overlay select {
  color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
  color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
  color: #8a8a8a;
}

.navbar {
	background: grey;
}

.navbar a:hover {
	text-decoration: none;
}

/* Table for Dog and Fruits/Vegetables Pages */

img {
	max-height: 250px;
	max-width: 300px;
	margin: 0 auto;
}

table tr {
	padding: 5px;
}

table thead tr th:nth-child(1) {
	width: 300px;
}

table tbody tr {
	max-height: 300px;
	max-width: 350px;
}