<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/styles.css" />
        <title>List of {{ category }} - Ample Examples</title>
		
		<!-- Bootstrap Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>

	<body style="background-color: #f5d7fa;">
        <div id="top"> </div>
        <nav class="sticky-top">
            <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
                <div class="navbar-brand" href="#">Ample Examples</div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/list/dogs">See Dogs</a>
                    <a class="nav-item nav-link" href="/list/fruits">See Tropical Fruits and Vegetables</a>
                    
                    <!-- This nav block is where the logout and login buttons currently go -->

                    <div id="profile"></div>
                    <a class="nav-item nav-link" id="logout"></a>
                    <a class="nav-item nav-link" id="login"></a>

                    </div>
                </div>
            </nav>

            <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #c1dff5;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="#top">Top of Page</a>
                        <a class="nav-item nav-link" href="#List">List of {{ category }}</a>
                        <a class="nav-item nav-link" href="#bottom">To Bottom of List</a>
                    </div>
                </div>
            </nav> 
        </nav> 
         
    
        <br><br>
    <!-- this block of code only works for dogs -->
		<div id="RNG">
			<h1 style ="position:relative; padding-left:2%"> Random image generators: </h1>
            <h3 style ="position:relative; padding-left:2%"> Note that requesting more images means a longer loading time. </h3>
            <h4 style ="position:relative; padding-left:2%"> The limit is set to 25. </h4>
            {% if category == "dogs" %}
                <!--DOG STUFF-->
                <form action="/randomDog" onsubmit="submitThis(this); return false;" method="POST">
                    <p style="padding-left:2%">How many images do you want?</p>
                    <input style="position:relative; left:2%;" type ="number" id = "numDogs" name = "numDogs" min="1" max="25" required/>
                    <input style="position:relative; left:2%;" name="randomDoggy" type="submit" value="Load random dog images."/>
                </form>
                <br>
                <form action="/randomBreed" onsubmit="submitThis(this); return false;" method="POST">
                    <p style="padding-left:2%">How many images do you want?</p>
                    <input style="position:relative; left:2%;" type ="number" id = "numDogs" name = "numDogs" min="1" max="25" required/>
                    <input style="position:relative; left:2%;" type="text" name="breed" id="breed" placeholder="Dog Breed" size = "10" required/>
                    <input style="position:relative; left:2%;" name="randomDogBreed" type = "submit" value="Load random images of this dog breed."/>
                </form>
            {% else %}
                <!-- TROPICAL STUFF -->
                <form action="/randomTropical" onsubmit="submitThis(this); return false;" method="POST">
                    <p style="padding-left:2%">How many images do you want?</p>
                    <input style="position:relative; left:2%;" type = "number" id="numTropical" name="numTropical" min="1" max="25" required>
                    <input style="position:relative; left:2%;" name = "randomTropical" type="submit" value = "Load random images of tropical fruits/vegetables"/>
                </form>
            {% endif %}
        </div>
        <!--  -->

        <br><br>

        <div id="thingGoesHere">
            
        </div>
        <br /><br />

        <div id = "List">
            <h2 style="padding-left: 2%;"> List of {{ category }}: </h2>
            <h3 style="padding-left: 2%;"> You can click on an image to open it in a new tab in its original size. </h3>
            <table class="table">
				<thead class="thead-light">
					<tr>
						<th scope="col"> Title </th>
						<th scope="col"> Picture </th>
						<!-- <th scope="col"> Description </th>
						<th scope="col"> Flairs </th> -->
						{% if loggedIn %}
							<th scope="col"> Favorite </th>
						{% endif %}
					</tr>
				<tbody>
                {% for i in range(titles|count) %}
                    <tr>
                        <td> {{ titles[i] }} </td>
                        <td> <a href="{{pictures[i]}}" target="_blank"><img src= "{{ pictures[i] }}" /> </a></td>
                        <!-- <td> {{ descriptions[i] }} </td>
                        <td> {{ flairs[i] }} </td> -->
                        {% if loggedIn %}
                            <td> 
                                <form action="/favorite" onsubmit="submitThisFavorite(this); return false;" method="POST">
                                    <input type="hidden" name="itemID" value="{{ itemids[i] }}" />
                                    <input type="hidden" name="listID" value="{{ category }}" />
                                    <input type="submit" name="submit"
                                        {% if itemids[i] in favorited %}
                                            value="Unfavorite 💔"
                                        {% else %}
                                            value="Favorite 💕"
                                        {% endif %}
                                    />
                                </form>
                            <td>
                        {% endif %}
                    </tr>
                {% endfor %}
				</tbody>
            </table>
            <div id="bottom"> </div>
            <div id="loadMoreButtonGoesHere"></div>   
		</div>

        <br>
	</body>

    <!-- since the loggedIn script comes before the homey script, the homey script can use that variable -->
    <script>
        var loggedIn = ("{{ loggedIn }}" == "True") ? true : false;
    </script>
    <script src="../static/js/homey.js"></script>


    <script>
        var isDogs = ( "{{ category }}" == "dogs")
    </script>
    <script src="../static/js/loadmore.js"></script>
    <script src="../static/js/formsubmit.js"></script>
</html>