<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="/static/css/styles.css">
		
		<!-- Bootstrap Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
				
	</head>

	<body style="background-color: #f5d7fa;">
		<nav class="sticky-top">
            <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
                <div class="navbar-brand" href="#">Ample Examples</div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/list/dogs">See Dogs</a>
                    <a class="nav-item nav-link" href="/list/fruits">See Tropical Fruits and Vegetables</a>
                    
                    <!-- This nav block is where the logout and login buttons currently go -->

                    <div id="profile"></div>
                    <a class="nav-item nav-link" id="logout"></a>
                    <a class="nav-item nav-link" id="login"></a>

                    </div>
                </div>
            </nav>
		
        <h1 style="padding-left: 2%; padding-top: 2%">Your list of favorites, kind user:</1>
        <h2 style="padding-left: 2%; padding-top: 2%">You can click on an image to open it in a new tab in its original size.</h2>
        <div id = "List">
           <table class="table">
				<thead class="thead-light">
                    <th scope="col"> Title </th>
                    <th scope="col"> Picture </th>
                   <!-- <th scope="col"> Description </th>
                    <th scope="col"> Flairs </th-->
                   
                     {% if loggedIn %}
                        <th scope="col"> Favorite </th>
                    {% endif %}
                </tr>
                {% for i in range(titles|count) %}
                    <tr>
                        <td> {{ titles[i] }} </td>
                        <td><a href="{{pictures[i]}}" target="_blank"> <img src= "{{ pictures[i] }}"/></a> </td>
                       <!-- <td> {{ descriptions[i] }} </td>
                        <td> {{ flairs[i] }} </td-->
                       
                         {% if loggedIn %}
                            <td> 
                                <form action="/favorite" onsubmit="submitThisFavorite(this); return false;" method="POST">
                                    <input type="hidden" name="itemID" value="{{ itemids[i] }}" />
                                    <input type="submit" name="submit" value="Unfavorite 💔" />
                                </form>
                            <td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>

        </div>
	</body>

    <script>
        function submitThis(form) {
            if (window.XMLHttpRequest) {
                //Firefox, Opera, IE7, and other browsers will use the native object
                var xhttp = new XMLHttpRequest();
            } else {
                //IE 5 and 6 will use the ActiveX control
                var xhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            var submitButton = form.querySelector('[type=submit]'); //finds the submit button to disable it so people can't spam the form
            submitButton.disabled = true;
            xhttp.onreadystatechange = function() { //handles the response from the submit target
                //var json = JSON.parse(xhttp.responseText)
                document.querySelector('#thingGoesHere').innerHTML = xhttp.responseText;
                submitButton.disabled = false;
            };
            xhttp.open(form.method, form.action, true); //sends form to the form action by form method
            var data = new FormData(form); //gets the form's data
            xhttp.send(data); //sends the form's data
            return false;
        }

        function submitThisFavorite(form) {
            if (window.XMLHttpRequest) {
                //Firefox, Opera, IE7, and other browsers will use the native object
                var xhttp = new XMLHttpRequest();
            } else {
                //IE 5 and 6 will use the ActiveX control
                var xhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            var submitButton = form.querySelector('[type=submit]'); //finds the submit button to disable it so people can't spam the form
            submitButton.disabled = true;
            xhttp.onreadystatechange = function() { //handles the response from the submit target
                var json = JSON.parse(xhttp.responseText);
                if (json.responseText["error"]) alert(json.responseText["error"]);
                if (json.responseText["success"]) form.parentElement.parentElement.remove();
                submitButton.disabled = false;
            };
            xhttp.open(form.method, form.action, true); //sends form to the form action by form method
            var data = new FormData(form); //gets the form's data
            xhttp.send(data); //sends the form's data
            return false;
        }
    </script>
</html>