<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Register — Ample Examples</title>
        <link rel="stylesheet" href="/static/css/styles.css">
	
		<!-- Bootstrap Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>

    <body>
		<div class="grid-container fluid">	
			<div class="translucent-form-overlay"> 
				{% if error_msg is defined %}
					<p class="error-msg">{{ error_msg }}</p>
				{% endif %}
				{% if success_msg is defined %}
					<p class="success-msg">{{ success_msg }}</p>
				{% endif %}
				<form action="/register-submit" method="POST">
					<label for="username" required>Username <span style="color:#d4332a">*</label>
					<input type="text" name="username" id="username" required />

					<label for="password" required>Password <span style="color:#d4332a">*</label>
					<input type="password" name="password" id="password" required />

					<label for="password" required>Password confirmation <span style="color:#d4332a">*</label>
					<input type="password" name="passwordConf" id="passwordConf" required />
					
					<button type="submit" class="btn btn-primary">Register</button>
					<p>Already registered? <a href="/login">Log in here.</a></p>
				</form>
			</div>
		</div>
    </body>
</html>
