<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <title>Log In — Ample Examples</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>

    <body>
        <h1 class="title">Log In!</h1>
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
				<p class="error-msg">{{ error_msg }}</p>
                <p class="success-msg">{{ success_msg }}</p>
                <form action="/login-submit" onsubmit="submitThis(this); return false;" method="POST">
                    <label for="username">Username *</label>
                    <input type="text" name="username" id="username" required />

                    <label for="password">Password *</label>
                    <input type="password" name="password" id="password" required />
                    
                    <input name="login" type="submit" value="Log In" />
                    <p>Not registered? <a href="/register">Register here.</a></p>
                </form>
			</div>
		</div>
    </body>

    <script>
        function submitThis(form) {
            if (window.XMLHttpRequest) {
                //Firefox, Opera, IE7, and other browsers will use the native object
                var xhttp = new XMLHttpRequest();
            } else {
                //IE 5 and 6 will use the ActiveX control
                var xhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            var submitButton = form.querySelector('[type=submit]')
            submitButton.disabled = true;
            xhttp.onreadystatechange = function() {
                var json = JSON.parse(xhttp.responseText)
                if (json["error"]) document.querySelector('.error-msg').innerHTML = json["error"];
                if (json["success"]) document.querySelector('.success-msg').innerHTML = json["success"];
                submitButton.disabled = false;
            };
            xhttp.open("POST", "/login-submit", true);
            xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            var data = new FormData(form);
            var obj = Object.fromEntries(data.entries());
            var str = "";
            for (var key in obj) {
                if (str != "") {
                    str += "&";
                }
                str += key + "=" + encodeURIComponent(obj[key]);
            }
            xhttp.send(str);
            return false;
        }
    </script>
</html>