<h1> {{message}} {{breedQuery}} </h1>
<div id = "Images">
    {% for n in images %}
        <img src = "{{n}}" style="width: 15%; flex: 33.33%; padding: 5px;"><!--loops through list of img srcs and loads each one-->
    {% endfor %}
</div>

<a class="nav-item nav-link" href="/list/dogs">See Dogs</a>
<br>
<a class="nav-item nav-link" href="/list/fruits">See Tropical Fruits and Vegetables</a>
<br>
<form action="/" method="POST">
    <input type="submit" name="backHome" value="Back to Home">
</form>